.no-padding-container
{
  padding:0;
  padding-left:1.3rem;
}
.row
{
  margin:0 auto;
  padding:0px;
}
a{
  text-decoration: none;
}

.store-details
{
  margin:0px;
  border-radius:0px;
}



//* product filter list */
.filter-list
{
  background-color: #ffffff;
}
.filters-head
{
  color: #212121;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 2px solid #f2f3f6;
  padding: 1.2rem;
  margin: 0px;
  // line-height: 5rem;

}
.product-filters
{
  background-color: #ffffff;
}
.product-filter-panel
     {
       border-bottom:1px solid #f2f3f6;
     }


    .product-filter-panel .filter-heading h4{
      color:#212121;
      letter-spacing: .3px;
    display: inline-block;
      font-weight: 600;
      display: block;
      border:none;
      padding:0 1.2rem;
      font-size: 1.5rem;
      position: relative;
      text-transform:capitalize;
      box-shadow:none;
      transition:all 0.1s ease 0;
    }

    .product-filter-panel .filter-heading h4:after, .product-filter-panel .filter-heading h4.collapsed:after{
      content: "\2212";
      // content:"\f077";
      // font-family: fontawesome;
      text-align: center;
      position: absolute;
      right:1.2rem;
      top: -.5rem;
      color:#878787;
      font-size: 2rem;
      // width: 30px;
      // height:30px;
      font-weight: 400;
      transition:all 0.3s ease 0s;
    }
    .product-filter-panel .filter-heading h4.collapsed:after{
      content: "\002B";
      // content:"\f078";
    }

    .filter-body
    {
      padding:1.2rem;
      color:#878787;
    }

    ._2iDkf8 {
      cursor: pointer;
      width: 100%;
      position: relative;
      padding:3px 0;
  }

    ._2iDkf8 ._30VH1S {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
  }

    ._2iDkf8 ._24_Dny {
      position: relative;
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: 1.4px solid #c2c2c2;
      border-radius: 1.5px;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
  }
  ._2iDkf8 ._24_Dny:before {
    position: absolute;
    content: "";
    left: 4px;
    top: 0px;
    width: 7px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
}
._2iDkf8 ._30VH1S:checked+._24_Dny:before {
  display: block;
}
._2iDkf8 ._30VH1S:checked+._24_Dny {
  background: #2874f0;
  border: #2874f0;
}

._2iDkf8 ._24_Dny:after {
  left: 7px;
    top: 3px;
    width: 2px;
    height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
._3879cV {
  vertical-align: middle;
  padding-left: 11px;
  color: #212121;
  font-weight: 500;
  display: inline-block;
  width: calc(100% - 16px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  cursor: pointer;
}

.product-list
{
  padding:0px;
  margin:0 auto;
  padding-bottom:2rem;
  background-color: #ffffff;
}
.products {
  display: flex;
  flex-wrap: wrap;
  padding:0 10px;
}
.product-card {
  padding: 1%;
  flex-grow: 1;
  flex-basis: 25%;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  // display: flex; /* so child elements can use flexbox stuff too! */
}
.hidden-product-card
{
  visibility: hidden;
}

.product-card:hover
{
 box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.product-card-img
{
    margin:0 auto;
    height: 20rem;
    width: 20rem;
    padding:.2rem;
    background-color: #f2f3f6;;

}

.product-card-img .product-img {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
  border:none;
}



.product-info
{
  padding:10px;
  margin-top:auto;
  text-align: left;
}
.product-brand{
  color: #878787;
  font-size: 15px;
  font-weight: 700;
text-transform: uppercase;}

.product-name
  {
    display: inline-block;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
  }
  // .product-card:hover .product-name{color:#384aeb;font-weight:700;}

@media (max-width: 920px) {
  .products{
    text-align: center;
  }
  .product-card {
    flex: 1 50%;
    text-align: center;
  }
  .product-card-img
  {
    width:100%;
  }
  .no-padding-container
  {
    padding:0px;
  }
}




.color-list{
  height: 20px;
  width: 20px;
  box-shadow: 1px 1px 2px 1px #888888;
}


.show_product_list{
  height: 70px;
  width: 70px;
  margin-left: 10px;
  border: 1px solid;
  border-radius: 5px;
}

