<div class="store-container">
    <div class="store-content">
      <div class="store-header">
          <div class="store-logo">
            <img class="img" src="../../../assets/images/product1.png" alt="product1">
          </div>
          <div class="store-info">
            <div class="store-name">{{selectedShop.shopName | titlecase}}</div>
            <div class="store-address">{{selectedShop.shop_address | titlecase}}</div>

          </div>
          <div class=" store-promo"></div>
      </div>

      <div class="container-fluid no-padding-container">
        <div class="row product-container">
          <div class="col-12 col-md-3 filter-list-container" style="padding:0px;margin:0px;">
            <div class="filter-list">
               <div class="filters-head">Filters</div>
               <div class="product-filter-panel">
                 <div class="filter-heading" role="tab" id="brandFilterTab">
                   <h4 class="filter-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsebrandFilterTab" aria-expanded="false" aria-controls="collapsebrandFilterTab">
                          Brand
                   </h4>
                 </div>
                 <div id="collapsebrandFilterTab" class="panel-collapse collapse" role="tabpanel" aria-labelledby="brandFilterTab">
                   <div class="panel-body">
                   </div>
                </div>
               </div>

               <!-- size -->
              <div class="product-filter-panel">
                <div class="filter-heading" role="tab" id="sizeFilterTab">
                  <h4 class="filter-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesizeFilterTab" aria-expanded="false" aria-controls="collapsesizeFilterTab">
                         size
                  </h4>
                </div>
                <div id="collapsesizeFilterTab" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sizeFilterTab">
                  <div class="panel-body">
                  </div>
               </div>
              </div>

              <!-- color -->
              <div class="product-filter-panel">
                <div class="filter-heading" role="tab" id="colorFilterTab">
                  <h4 class="filter-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsecolorFilterTab" aria-expanded="false" aria-controls="collapsecolorFilterTab">
                         color
                  </h4>
                </div>
                <div id="collapsecolorFilterTab" class="panel-collapse collapse" role="tabpanel" aria-labelledby="colorFilterTab">
                  <div class="panel-body">
                  </div>
               </div>
              </div>
               <!-- discount -->
               <div class="product-filter-panel">
                <div class="filter-heading" role="tab" id="discountFilterTab">
                  <h4 class="filter-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsediscountFilterTab" aria-expanded="false" aria-controls="collapsediscountFilterTab">
                         Discount
                  </h4>
                </div>
                <div id="collapsediscountFilterTab" class="panel-collapse collapse" role="tabpanel" aria-labelledby="discountFilterTab">
                  <div class="filter-body">
                     <div class="_2d0we9 filter-option-content">
                       <div class="_4921Z t0pPfW filter-optionss" title="10% or more">
                           <div class="_2iDkf8 t0pPfW filter-option-div">
                             <label>
                               <input type="checkbox" class="_30VH1S filter-checkbox" readonly="" value="on">
                               <div class="_24_Dny filter-checkmark"></div>
                               <div class="_3879cV filter-option-value">10% or more</div>
                              </label>
                            </div>
                        </div>

                        <div class="_4921Z t0pPfW filter-optionss" title="20% or more">
                          <div class="_2iDkf8 t0pPfW filter-option-div">
                            <label>
                              <input type="checkbox" class="_30VH1S filter-checkbox" readonly="" value="on">
                              <div class="_24_Dny filter-checkmark"></div>
                              <div class="_3879cV filter-option-value">20% or more</div>
                             </label>
                           </div>
                       </div>
                        <!-- <div class="_4921Z t0pPfW" title="20% or more"><div class="_1Y4Vhm _4FO7b6"><div class="_2iDkf8 t0pPfW"><label><input type="checkbox" class="_30VH1S" readonly="" value="on"><div class="_24_Dny"></div><div class="_3879cV">20% or more</div></label></div></div></div><div class="_4921Z t0pPfW" title="30% or more"><div class="_1Y4Vhm _4FO7b6"><div class="_2iDkf8 t0pPfW"><label><input type="checkbox" class="_30VH1S" readonly="" value="on"><div class="_24_Dny"></div><div class="_3879cV">30% or more</div></label></div></div></div><div class="_4921Z t0pPfW" title="40% or more"><div class="_1Y4Vhm _4FO7b6"><div class="_2iDkf8 t0pPfW"><label><input type="checkbox" class="_30VH1S" readonly="" value="on"><div class="_24_Dny"></div><div class="_3879cV">40% or more</div></label></div></div></div><div class="_4921Z t0pPfW" title="50% or more"><div class="_1Y4Vhm _4FO7b6"><div class="_2iDkf8 t0pPfW"><label><input type="checkbox" class="_30VH1S" readonly="" value="on"><div class="_24_Dny"></div><div class="_3879cV">50% or more</div></label></div></div></div><div class="_4921Z t0pPfW" title="60% or more"><div class="_1Y4Vhm _4FO7b6"><div class="_2iDkf8 t0pPfW"><label><input type="checkbox" class="_30VH1S" readonly="" value="on"><div class="_24_Dny"></div><div class="_3879cV">60% or more</div></label></div></div></div><div class="_4921Z t0pPfW" title="70% or more"><div class="_1Y4Vhm _4FO7b6"><div class="_2iDkf8 t0pPfW"><label><input type="checkbox" class="_30VH1S" readonly="" value="on"><div class="_24_Dny"></div><div class="_3879cV">70% or more</div></label></div></div></div><div class="_4921Z t0pPfW" title="80% or more"><div class="_1Y4Vhm _4FO7b6"><div class="_2iDkf8 t0pPfW"><label><input type="checkbox" class="_30VH1S" readonly="" value="on"><div class="_24_Dny"></div><div class="_3879cV">80% or more</div></label></div></div></div><div class="_4921Z t0pPfW" title="10% and below"><div class="_1Y4Vhm _4FO7b6"><div class="_2iDkf8 t0pPfW"><label><input type="checkbox" class="_30VH1S" readonly="" value="on"><div class="_24_Dny"></div><div class="_3879cV">10% and below</div></label></div></div></div> -->
                      </div>
                  </div>
               </div>
              </div>



              </div>
          </div>

          <div class="col-12 col-md-9 product-list-container" style="padding-left:1rem;margin:0px;">
            <div class="product-list">
              <section class="products" *ngIf="shopProduct.length>0">

                <div class="product-card"  *ngFor = "let product of shopProduct" (click)="getProductDetails(product)">
                  <!-- <a href="/add-product/puma-stylish-shoes"> -->
                  <div class="product-card-img">
                     <img class="product-img"  [src]="getRandomImages(product.images)" alt="product1">
                     <!-- <ul class="product-card-imgOverlay">
                        <li data-toggle="modal" data-target="#productAddModal"><button><i class="fa fa-pencil"></i> Edit</button></li>
                        <li data-toggle="modal" data-target="#sizeAddModal"><button><i class="fa fa-trash-o"></i> Remove</button></li>
                    </ul> -->
                  </div>
                  <div class="product-info">
                     <div class="product-brand">{{product.brand}}</div>
                     <div class="product-name">{{product.name | titlecase}}</div>
                     <div class="product-type">Price between {{product.minPrice | currency:'INR'}} - {{product.maxPrice | currency:'INR'}}</div>
                     <div class="product-size">
                        <p>Sizes : <span  *ngFor="let size of product.sizes" >{{size.size}},</span></p>
                     </div>
                     <div class="product-color" *ngIf="product.colors.length > 0">
                        Colors :  <span *ngFor="let color of product.colors" style="margin: 2px;">
                        <img class="card-img" [src]="color.color" alt="product1" class="color-list">
                        </span>
                     </div>
                     <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productAddModal" (click)="selectProduct(product)">Add to Shop</button> -->
                  </div>
                  <!-- </a> -->
               </div>
               <!-- hidden-store-card is used align last item of items in flex display -->
                  <div class="product-card hidden-product-card" *ngFor="let in of [1,2,3]">
                      abc
                  </div>
               </section>
            </div>

          </div>
        </div>
      </div>



    <!-- end of panel body -->
    </div>
  </div>


      <!-- image Modal -->
      <div id="imageUploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><i class="fa fa-picture-o"></i> Product Image</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <label for="name">color</label>
                    <select class="form-control">
                      <option value="red">Red</option>
                      <option value="blue">Blue</option>
                    </select>
                  </div>
                  <div class="col-12 col-md-6 imageUpload">
                    <label for="name">Images</label>
                    <button type="button"  class="imageButton" (click)="imagePicker.click()">Pick Images</button>
                    <input type="file" name="image" #imagePicker multiple>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-12">
                  <!--  <div class="imagePreview" *ngIf="imagePreview?.length>0">
                     <span *ngFor="let image of imagePreview;let i=index;">
                       <img  [src]="image" alt="bazarnav">
                       <svg class="uploadCancel" width="20" height="20" viewBox="0 0 24 24"  (click)="onDeleteImage(i)"><path d="M17.0251484,0.288798437 C17.5090218,-0.114571204 18.2292627,-0.0967643175 18.6927565,0.350826444 C19.189357,0.830387975 19.2031698,1.62172366 18.7236083,2.11832416 L18.7236083,2.11832416 L11.274,9.831 L18.7236083,17.5450054 C19.2031698,18.0416059 19.189357,18.8329416 18.6927565,19.3125031 C18.2292627,19.7600939 17.5090218,19.7779007 17.0251484,19.3745311 L16.9252588,19.2816513 L9.537,11.631 L2.14917595,19.2816513 L2.04928636,19.3745311 C1.56541292,19.7779007 0.845172034,19.7600939 0.381678232,19.3125031 C-0.114922271,18.8329416 -0.128735086,18.0416059 0.350826444,17.5450054 L0.350826444,17.5450054 L7.799,9.831 L0.350826444,2.11832416 C-0.128735086,1.62172366 -0.114922271,0.830387975 0.381678232,0.350826444 C0.845172034,-0.0967643175 1.56541292,-0.114571204 2.04928636,0.288798437 L2.14917595,0.381678232 L9.537,8.032 L16.9252588,0.381678232 Z" fill="#f00000" fill-rule="nonzero" stroke="#f00000" stroke-width="2"></path></svg>
                     </span>
                   </div> -->
                  </div>
               </div>
             </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
              <button type="button" class="btn btn-primary" >Save</button>
            </div>
          </div>

        </div>
        <!-- end of modal -->
      </div>

          <!-- size Modal -->
          <div id="sizeAddModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><i class="fa fa-paw"></i> Product Size </h4>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="row">
                      <div class="col-12 col-md-5"><label >UK/IND Size</label></div>
                      <div class="col-12 col-md-5"><label >Length ( in cm )</label></div>
                      <div class="col-12 col-md-2"></div>
                    </div>
                    <!-- <div class="row"  *ngFor="let sizelist of productSize;let i=index">
                      <div class="col-12 col-md-5">
                         <input type="text" class="form-control" name="ukindsize{{i}}" [(ngModel)]="sizelist.ukind_size" placeholder="size">
                      </div>
                      <div class="col-12 col-md-5">
                        <input type="text" class="form-control" name="length{{i}}" [(ngModel)]="sizelist.length" placeholder="Length">
                      </div>
                      <div class="col-12 col-md-2">
                        <button class="btn btn-warning" type="button" *ngIf="productSize?.length>1" (click)="deleteProductSize(sizelist)"><svg  width="13" height="13" viewBox="0 0 19 19"><path d="M17.0251484,0.288798437 C17.5090218,-0.114571204 18.2292627,-0.0967643175 18.6927565,0.350826444 C19.189357,0.830387975 19.2031698,1.62172366 18.7236083,2.11832416 L18.7236083,2.11832416 L11.274,9.831 L18.7236083,17.5450054 C19.2031698,18.0416059 19.189357,18.8329416 18.6927565,19.3125031 C18.2292627,19.7600939 17.5090218,19.7779007 17.0251484,19.3745311 L16.9252588,19.2816513 L9.537,11.631 L2.14917595,19.2816513 L2.04928636,19.3745311 C1.56541292,19.7779007 0.845172034,19.7600939 0.381678232,19.3125031 C-0.114922271,18.8329416 -0.128735086,18.0416059 0.350826444,17.5450054 L0.350826444,17.5450054 L7.799,9.831 L0.350826444,2.11832416 C-0.128735086,1.62172366 -0.114922271,0.830387975 0.381678232,0.350826444 C0.845172034,-0.0967643175 1.56541292,-0.114571204 2.04928636,0.288798437 L2.14917595,0.381678232 L9.537,8.032 L16.9252588,0.381678232 Z" fill="#3d4152" fill-rule="nonzero" stroke="#3d4152" stroke-width="1"></path></svg></button>
                      </div>
                    </div> -->
                 </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
                  <!-- <button class="btn btn-info" type="button" (click)="addProductSize()">Add list</button> -->
                  <button type="button" class="btn btn-primary">Save</button>

                </div>
              </div>

            </div>
            <!-- end of modal -->
          </div>

