
.product-container
{
  background-color: #fff;
  padding:0px;
}
.container-fluid,.priceform
{
  padding:0px;
  margin: 0px;
}

.product-wrapper{
  padding:10px;
  margin-bottom: 20px;
}

/* img {
  max-width: 100%; } */

/* .preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } } */

/* .preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; } */

/* .preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
 }
  .preview-thumbnail.nav-tabs li {
    width:10px;
    height:10px;
    // margin-right: 2.5%;
    display: flex;
    // flex-basis: 20%;
    flex-wrap: nowrap;
    overflow-x: auto;

  }



    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; } */

.img-content {
  // width: 50rem;
 
  height: 50rem;
  background-color: #f2f3f6;
  object-fit: contain;
text-align: center;
 margin-bottom: .2rem;
overflow: hidden;
line-height: 50rem;
display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

  .img-content img {
    max-width: 50rem;
    max-height: 50rem;
    object-fit: contain;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }


.thumbnail{
  position: relative;
  object-fit: contain;
  width: 7.8rem;
    height: 8rem;
    cursor: pointer;
    margin: .1rem;

    display: block;
    /* padding: 0.1rem; */
    // margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #f2f3f6;
    border:none;
    border-radius:0;
    /* border: 1px solid #ddd; */
    // border-radius: 0.3rem;
    /* -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out; */

}

.thumbnail:hover{
  opacity:1;
}

.active{
  opacity: 1;
}

#slide-wrapper{
  position: relative;
  // width: 50rem;
  display: flex;
  min-height: 100px;
  align-items: center;
}

.slider{
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.slider::-webkit-scrollbar {
    width: 8px;
    display: none;
}

#leftSlide
{
  position: absolute;
  left: .1rem;
  top: 4rem;
  z-index: 10;
}

#rightSlide
{
  position: absolute;
  right: .1rem;
  top: 4rem;
  z-index: 10;
}

.arrow i{
  cursor: pointer;
  transition: .3s;
  color:#838591;
  font-size: 25px;
  margin:2px;
}
.arrow i:hover
{
  color:#FF7F50;
}
.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

.share-icon{
  font-size: 3rem;
  text-transform: capitalize;
  float: right;
  top: .5rem;
  right: 2.5rem;
  cursor: pointer;
  font-weight: bold;
  color: #3d4152;
}
.share-icon:hover
{
  color:#2874f0;
}

.product-title
{
  font-size:2.5rem;
  color:#3d4152;
  text-transform: capitalize;
  font-weight:400;
}
.product-brand
{
  font-size:1.5rem;
  color:#878787;
  text-transform: uppercase;
  font-weight:bold;
}

.product-price
{
  margin:1rem 0px;
}
.product-saleprice
{
  font-weight:900;
   font-size:2.5rem;
   margin-right:7px;
}
.product-mrp
{
  font-size:1.8rem;
  color:#565959;
  text-decoration: line-through;
  margin-right:7px;
  font-weight: 700;
}
.product-discount
{
  font-size:1.8rem;
  color:#388e3c;
  font-weight: 700;
}

.rating-badge
{
  width: 5rem;
  height: 2.5rem;
  background-color: #388e3c;
  border-radius: 0.3rem;
  color: #fff;
  font-weight: 500;
  line-height: 2.5rem;
  padding: 0 11px;
  font-size: 1.9rem;
  cursor: pointer;
}
.rating-badge:hover
{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
.rating-value
{
  margin-right:.3rem;
}

.colors,.sizes
{
  // position: relative;
  margin:1.5rem 0;
  font-size: medium;
  color:#565959;
}
.color-list,.size-list
{
  position: relative;
  display: block;
  display:flex;
  width:100%;
  background-color: none;
  list-style: none;
}

.color-list li
{
  width: 3.3rem;
  height: 3.3rem;
  margin:1rem 1rem 1rem 0;
  text-align: center;
  cursor: pointer;
}
.color-list .color-img
{
  width: 3.3rem;
    height: 3.3rem;
    object-fit: cover;
}

.color-list .color-img:hover
{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.size-list li
{
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
  border:2px solid #e0e0e0;
  margin:1rem 1rem 1rem 0;
  text-align: center;
  line-height: 3.2rem;
  font-size:2rem;
}
.size-list li:hover
{
  border:2px solid #212121;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);

}
.add-to-cart-btn, .wishlist-btn
{
    padding: 1.3rem 4rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.wishlist-btn
{
  padding: 1.3rem;
    font-weight: 700;
    font-size: 1.5rem;
}


     .product-detail-panel
     {
       margin-top:2rem;
       border-bottom:2px solid #f5f5f5;
       border-top:2px solid #f5f5f5;
     }

     .product-detail-panel .panel-heading
     {
      padding:0;
      background-color: #ffffff;
      border:none;
     }
    .product-detail-panel .panel-heading a{
      color:#3d4152 !important;
      display: block;
      border:none;
      padding:2rem 4rem;
      font-size: 2.0rem;
      // background-color: #ffffff;
      font-weight:400;
      position: relative;
      color:#3d4152;
      text-transform: capitalize;
      box-shadow:none;
      transition:all 0.1s ease 0;
    }

    .product-detail-panel .panel-heading a:after, .product-detail-panel .panel-heading a.collapsed:after{
      content: "\f068";
      font-family: fontawesome;
      text-align: center;
      position: absolute;
      left:0px;
      top: 1.5rem;
      color:#fff;
      background-color: #3d4152;
      border: 5px solid #fff;
      font-size: 15px;
      width: 35px;
      height:35px;
      line-height: 26px;
      border-radius: 50%;
      transition:all 0.3s ease 0s;
    }
    .product-detail-panel .panel-heading:hover a:after,
    .product-detail-panel .panel-heading:hover a.collapsed:after{
      transform:rotate(360deg);
    }
    .product-detail-panel .panel-heading a.collapsed:after{
      content: "\f067";
    }

.product-details-table tr
{
  margin:2rem 0;
}
.product-details-table td, .product-details-table th
{
  font-size: 1.6rem;
  padding:1rem;
  vertical-align:top;
}




@media screen and (max-width: 997px) {
  /* .product-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } */

    /* .img-content {
      width: 37rem;
      height: 37rem;
      background-color: #f2f3f6;
      object-fit: contain;
    text-align: center;
     margin-bottom: .2rem;
    overflow: hidden;
    line-height:37rem;} */

    /* #slide-wrapper{
      position: relative;
      width: 37rem;
      display: flex;
      min-height: 100px;
      align-items: center;
    } */

  }



