<div class="panel panel-default">
    <div class="panel-body">
       <div class="store-header">
          <div class="store-logo">
             <img class="img" src="../../../assets/images/product1.png" alt="product1" >
          </div>
          <div class="store-info">
             <div class="store-name">{{selectedShop.shopName | titlecase}}</div>
             <div class="store-address">{{selectedShop.shop_address | titlecase}}</div>
          </div>
       </div>
       <div class="product-container">
          <div class="container-fliud">
             <div class="product-wrapper row">
                <div class="preview col-12 col-md-5">
                   <div class="preview-pic img-content">
                      <div class="img-pane" >
                         <img id="expandedImg" style="width:100%;" />
                      </div>
                   </div>
                   <div id="slide-wrapper" >
                      <div id="leftSlide" class="arrow" (click)="scrollThumbnail(0)" ><i class="fa fa-chevron-circle-left"></i></div>
                      <div class="slider" id="scrollDiv">
                         <img class="thumbnail"  *ngFor="let image of productDetails.images; let i=index" [src]="image.thumb_image" (click)="showImage(image.image)" (mouseover)="showImage(image.image)">
                      </div>
                      <div id="rightSlide" class="arrow" (click)="scrollThumbnail(1)"><i class="fa fa-chevron-circle-right"></i></div>
                   </div>


                </div>
                <div class="details col-12 col-md-7">
                   <div class="share-icon">
                    <span (click)="123"><i class="fa fa-share-square-o"></i></span>
                   </div>

                   <div class="product-brand">{{productDetails.brand}}</div>
                   <div class="product-title">{{productDetails.name}}</div>



                  <div class="product-price">
                    <span class="product-saleprice">{{ productDetails.selling_price | currency:'INR'}}</span>
                    <span class="product-mrp" *ngIf="productDetails.discount > 0"> {{ productDetails.mrp | currency:'INR'}}</span>
                    <span class="product-discount" *ngIf="productDetails.discount > 0">{{ productDetails.discount}}&#37; off</span>
                  </div>

                  <div class="rating-badge">
                    <span class="rating-value">4</span>
                    <span class="rating star">&#9733;</span>
                  </div>

                  <div class="colors">
                    <span>Colors </span>
                    <ul class="color-list">
                       <li *ngFor="let color of productDetails.available_colors" >
                          <img class="color-img" [src]="color.color_image_thumb"/>
                          <!-- {{color.colorName}} -->
                        </li>
                    </ul>
                  </div>

                   <div class="sizes">
                    <span>Size- UK/Ind</span>
                     <ul class="size-list">
                       <li *ngFor="let size of productDetails.available_sizes" >{{size.size}}</li>
                     </ul>
                  </div>

                  <div class="product-btn">
                    <button class="btn add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                    <button class="btn wishlist-btn" (click)="addToWishlist()" ><i class="fa fa-heart"></i></button>
                  </div>

                  <div class="product-detail-panel">
                    <div class="panel-heading" role="tab" id="productDetailsTab">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseProductDetailsTab" aria-expanded="false" aria-controls="collapseProductDetailsTab">
                                Product Details
                                <span> </span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseProductDetailsTab" class="panel-collapse collapse" role="tabpanel" aria-labelledby="productDetailsTab">
                        <div class="panel-body">
                          <table class="product-details-table">
                            <tr><th>Brand </th><td>{{productDetails.brand}}</td></tr>
                            <tr><th>Modal </th><td>{{productDetails.modelNo}}</td></tr>
                            <tr><th>Material </th><td>{{productDetails.material}}</td></tr>
                            <tr><th>Ideal for </th><td>{{productDetails.catagory}}</td></tr>
                            <tr><th>Type </th><td>{{productDetails.type}}</td></tr>
                            <tr><th>Description </th><td>{{productDetails.description}}</td></tr>
                          </table>
                          <!-- <div class="row">
                            <div class="col-md-3">Product Name</div>
                            <div class="col-md-9"></div>
                          </div> -->
                        </div>
                    </div>
                </div>

          </div>
       </div>
    </div>
 </div>
