
<div class="headbar">
      <div class="header-brand" (click)="goNext('stores')">
        <a href="javascript:void(0)">Shoe Stores</a>
      </div>
      <div class="header-location">
        <span class="location"><i class="fa fa-map-marker location-icon"></i>Durgapur</span>
        <span class="icon-downarrow"> <i class="fa fa-chevron-down"></i></span>
      </div>



    <div class="header-menu">
        <ul class="menu-list">
          <li (click)="goNext('stores')">
            <a href="javascript:void(0)"><i class="fa fa-home menu-icon"></i>Stores</a>
          </li>
          <li><a href="javascript:void(0)">
            <i class="fa fa-search menu-icon"></i>Search</a>
          </li>
          <li (click)="goNext('authentication')" *ngIf="!userDetails && userDetails == null">
            <a href="javascript:void(0)" ><i class="fa fa-user-o menu-icon"></i>Login</a>
          </li>
          <li  *ngIf="userDetails && userDetails.userId">
            <a href="javascript:void(0)" ><i class="fa fa-user-o menu-icon"></i>{{userDetails.name}}</a>
          </li>
          <li *ngIf="userDetails && userDetails.userId" (click)="goNext('wishlist')">
            <a href="javascript:void(0)"><i class="fa fa-heart-o menu-icon"></i>Wishlist</a>
          </li>
        </ul>
    </div><!-- header menu -->
</div>
<div class="clear">

  </div>




