.headbar
{
   float:left;
   margin:0px;
   margin-bottom:30px;
   padding-left:20px;
   width:100%;
   border:0px;
   border-radius: none;
   background: #fff;
   border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.header-brand
{
  float:left;
  height:50px;
  line-height: 50px;
}


.header-brand a{
  font-size:21px;
  color: #2874f0;
	font-weight: bold;
  margin-right: 20px;

}

.location-icon
{
  color:#2874f0;
  margin-right:5px;
}
.header-location
{
    float:left;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px;
    // max-width: 200px;
    line-height: 50px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
    position: relative;
    color: #3d4152;
    font-weight: 600;
    background-color: #c6daf8;
}


.header-location .location
{
  float:left;
  display: block;
  padding-left: 5px;
  margin-left: 5px;
  width:100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header-location:hover{
  color:#2874f0;
}

.icon-downarrow
{
    /* position: absolute;
    right: 10px;
    top: 50%; */
    float:left;
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    font-size: 1rem;
    color: #2874f0;
    font-weight: 700;
}

.header-menu
{
  float:right;
}
.menu-list
{
  display:flex;
}

.menu-list li
{
  line-height:50px;
  float:right;
}

.menu-icon
{
  margin-right:5px;
}

.header-menu li a
{
  color:#3d4152;
  font-weight:600;
  margin-right:50px;
  font-size:14px;
  padding-right:0px;
  padding-left:0px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
}

.header-menu li a:hover
{
  color:#2874f0;
}

.clear
{
  clear:both;
}

@media (max-width: 820px) {

  .header-brand,.header-location
  {
    width:40%;
    margin:0px;
    float:left;
  }
  .header-location{
    float:right;
  }

  .header-menu li a
  {
    margin:0px;
  }
  .header-menu
  {
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 200;

    // height: calc(56px + var(--sab));
    // padding-bottom: var(--sab);

  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    z-index: 120;
    background-color: #fff;
    height: 56px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 -1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,.1);
  }

   .menu-list
   {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
   }

  .menu-list li
  {
    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .73rem;
  padding:0.2rem 1rem;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  width: 25%;
  font-weight: 600;
  height: inherit;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #93959f;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  }

  .menu-list .menu-icon
  {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0.5rem;
    width: 100%;
  }
}








