
<div class="row product-container">
    <div class="col-12 col-md-9 item-list">
        <div class="item-card">
          <span class="item-heading"> Wishlist</span></div>
        <div class="row item-card" *ngFor ="let wishlist of wishlists">
          <div class="col-12 col-md-4 item-card-img">
            <img class="img" [src]="wishlist.images[0]['image']" alt="product1" *ngIf="wishlist.images.length > 0"  (click)="getProductDetails(wishlist.shopId, wishlist.productId)">
            <img class="img" src="../../../assets/images/product1.png" alt="product1" *ngIf="wishlist.images.length < 1" (click)="getProductDetails(wishlist.shopId, wishlist.productId)">
          </div>
          <div class="col-12 col-md-8 item-info">
            <div class="item-details">
               <span class="item-name" (click)="getProductDetails(wishlist.shopId, wishlist.productId)">{{wishlist.name}}</span>
               <div class="item-brand">{{wishlist.brand}}</div>
               <span class="item-size">Size : {{wishlist.size}}</span>
               <span class="item-color"> Color : {{wishlist.color}}</span>
            </div>

            <div class="store-info">
              <span class="item-store-name">Seller : {{wishlist.shop_name}}</span>
              <span class="item-store-address">{{wishlist.shop_address}}</span>
            </div>

            <div class="item-price">
              <div class="item-price"> <span class="item-sale-price">{{ wishlist.selling_price | currency:'INR'}}</span> <span class="item-mrp" style="text-decoration: line-through;"> {{ wishlist.mrp | currency:'INR'}}</span> </div>
            </div>

            <button class="btn remove-btn"><i class="fa fa-trash"></i> Remove</button>


          </div>



        </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="price-details">
        <div class="item-card">
          <span class="item-heading">Order Summary </span>
        </div>
        <div class="item-card">
          <table class="table">
            <tbody>
              <tr><td>Price ( {{wishlists.length}} Items)</td><td>{{total_mrp | currency:'INR'}}</td></tr>
              <tr class="total-discount"><td>Discount</td><td>{{total_discount | currency:'INR'}}</td></tr>
              <tr class="total-price"><th>Net Amount</th><th>{{total_saleprice | currency:'INR'}}</th></tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>


