.product-container
{
  overflow: hidden;
}

 .item-card
 {
  background-color: #ffffff;
  border-bottom:1px solid #f2f3f6;
  padding:10px;
 }
 .item-card-img img
 {
   width:17rem;
   height: 17rem;
   object-fit: contain;
 }
 .item-heading
 {
   color:#111;
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
 }
 .item-card-img
 {
   text-align:center;

 }
 .item-card-img img
 {
  cursor: pointer;
 }
 .item-info
 {
  //  width:70%;
   padding-left:10px;
 }
 .item-name
 {
   color:#3d4152;
   font-size:16px;
   font-weight:700;
   text-transform: capitalize;
   cursor:pointer;
  //  transition: 0.5s;
 }
 .item-name:hover
 {
  //  text-decoration: underline;
   color:#2874f0;
 }
 .item-brand
 {
   color:#565959;
   text-transform: uppercase;
 }
 .item-price
 {
  //  width:30%;
   font-size:16px;
 }
 .item-sale-price
 {
   font-weight:700;
   font-size:17px;
   margin-right:7px;
 }
 .item-mrp
 {
   color:#565959;
 }

 .store-info
 {
   margin:0px;
   padding:0px;
 }
 .store-info
 {
   margin:10px 0;
   color:#565959;
   text-transform: capitalize;
   font-size: 13px!important;
    line-height: 20px!important;
 }

 .remove-btn
 {
   margin:12px 0;
 }

 .price-details
 {
   background-color: #ffffff;
  //  padding:10px;
  overflow: hidden;
 }

 .price-details .table td,.price-details .table th
 {
   font-size:16px;
   line-height: 30px;
   border: 0px !important;
 }
 .total-price, .total-discount
 {
   border-bottom: 1px dashed #3d4152 ;
  //  background-color: aqua;
 }
 .total-discount td
 {
   color:#388e3c;
 }








