
.store-container
{
   padding:20px;
  //  background-color:#ffffff;
}


.store-heading
{
    border-bottom: 1px solid #cbccce;
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}
.store-heading .heading
{
  font-size: 16px;
    line-height: 30px;
    font-weight:700;
    color:#3d4152;

}

.stores {
  display: flex;
  flex-wrap: wrap;
}
.store-card {
  padding: 1%;
  flex-grow: 1;
  flex-basis: 17%;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;

  // display: flex; /* so child elements can use flexbox stuff too! */
}
.hidden-store-card
{
  visibility: hidden;
}


.store-card-img img {
  max-width: 100%;
  border:none;
}

.store-card a{
  text-decoration: none;
  color:#000000;
 //  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.store-card:hover
{
 box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.store-info
{
  padding:10px 2px;
  margin-top:auto;
  text-align: left;
}


.store-name
  {
     display: inline-block;
    width:150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    padding: 0;
    color: #3d4152;
  font-size: 15px;
  font-weight: 700;
  }

@media (max-width: 920px) {
  .store-card {
    flex: 1 50%;
  }
}




