<div class="store-container">
  <div class="store-heading">
    <div class="heading"><span class="section-intro__style"> {{storeList.length}} Stores</span></div>
    <ul class="panel-options">
      <li><a href="#"><i class="fa fa-sliders"></i> Product</a></li>
    </ul>
  </div>
  <div class="store-list">
    <section class="stores">
      <div class="store-card" *ngFor ="let store of storeList" (click)="getProductList(store)">
        
        <div class="store-card-img">
          <img class="img" src="../../../assets/images/product1.png" alt="product1">
        </div>
        <div class="store-info">
          <div class="store-name">{{store.shopName}}</div>
          <div class="store-address">{{store.shop_address}}</div>
          <div class="store-type">{{store.shop_city}}, {{store.shop_state}}</div>
        </div>
      
      </div>

      <!-- <div class="store-card">
        <a href="/add-product/puma-stylish-shoes">
        <div class="store-card-img">
          <img class="img" src="../../../assets/images/product1.png" alt="product1">
        </div>
        <div class="store-info">
          <div class="store-name">Puma Shoe store scshcb   sjbsch sxvshcv hvxsvc jaxvhsv</div>
          <div class="store-addres">Puma Stylish shoes</div>
          <div class="store-type">Women , Sports shoes</div>
        </div>
        </a>
      </div>

      <div class="store-card">
        <a href="/add-product/puma-stylish-shoes">
        <div class="store-card-img">
          <img class="img" src="../../../assets/images/product1.png" alt="product1">
        </div>
        <div class="store-info">
          <div class="store-name">Puma Shoe store</div>
          <div class="store-address">Puma Stylish shoes</div>
          <div class="store-type">Women , Sports shoes</div>
        </div>
        </a>
      </div>

      <div class="store-card">
        <a href="/add-product/puma-stylish-shoes">
        <div class="store-card-img">
          <img class="img" src="../../../assets/images/product1.png" alt="product1">
        </div>
        <div class="store-info">
          <div class="store-name">Puma Shoe store</div>
          <div class="store-address">Puma Stylish shoes</div>
          <div class="store-type">Women , Sports shoes</div>
        </div>
        </a>
      </div>

      <div class="store-card">
        <a href="/add-product/puma-stylish-shoes">
        <div class="store-card-img">
          <img class="img" src="../../../assets/images/product1.png" alt="product1">
        </div>
        <div class="store-info">
          <div class="store-name">Puma Shoe store</div>
          <div class="store-address">Puma Stylish shoes</div>
          <div class="store-type">Women , Sports shoes</div>
        </div>
        </a>
      </div> -->


      <!-- hidden-store-card is used align last item of items in flex display -->
      <div class="store-card hidden-store-card" *ngFor="let in of [1,2,3,4]">
      </div>


    </section>
  </div>
</div>


