.container-fluid
{
  padding-top:0px;
}

.login-heading , .login-footer
{
  text-align:center;
  padding:20px 0px;
}
.login-heading span
{
  font-size:30px;
  font-weight:900;
  color: #3d4152;


}
.login-footer span{
  color:#ccc;
}

.modal-header,.modal-footer
{
  background-color: #fdfdff;
  // background: #fdfdff;
  padding:10px;
}
.modal-header .modal-title
{
  font-weight:700;
}

div.modal-content{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border:1px solid #e9e9e9;
  border-radius:0;
  // border-color: #e9e9e9;
}
#loginForm input
{
   border-radius:0;
}


