/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  padding:0;
  background-color: #f2f3f6;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
$btn-background :  #FF7F50;
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
.row{
  width:100%;
  margin:0px;
  padding:0px;
}
.container-fluid
{
  padding:0px 20px;
}
ul{list-style-type:none;margin:0;padding:0}
a:hover{text-decoration:none}
button{cursor:pointer}
button:focus{outline:0;box-shadow:none}

h1,h2,h3,h4,h5,h6{font-family:"Oswald",sans-serif;color:#222;line-height:1.1}h1,.h1{font-size:50px;font-weight:700}h2,.h2{font-size:36px;font-weight:600}h3,.h3{font-size:26px;font-weight:600}
@media (min-width: 600px){h3,.h3{font-size:36px}}h4,.h4{font-size:20px;font-weight:400;line-height:1.3}a{display:inline-block}.fixed{background:#fff;position:fixed !important;top:0;left:0;width:100% !important}


.btn
{
    border-radius:.2rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    background-color: $btn-background;
    border: none;
    text-transform: uppercase;
    color:#fff;
    font-weight:700;
}
.btn:hover
{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  color:#fff;
}
.panel , .panel-default,.panel-heading,.list-group-item
{
  margin:0px;
  border-radius:0px;
}
.panel,.panel-default{
  border:none;
  margin:0px;
  padding:0px;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 50%;
  }
  .row,.col-12,.container
  {
    margin:0px;
    padding:5px;
  }
}





.row
{
  margin:0px;
  padding: 0px;;
}
a{
  text-decoration: none;
}

.panel , .panel-default
{
  margin:0px;
  border-radius:0px;
}



.store-header
{
    background-color: #1a1b24;
    padding: 1.2rem;
    display: flex;
    margin-bottom: 1rem;
}

.store-logo
{
   width:15rem;
   height:15rem;
   object-fit: contain;
}
.store-logo img
{
  width:15rem;
   height:15rem;
   object-fit: contain;
}
.store-info
{
  padding:0 1rem;
}
.store-name
{
  color:#ffffff;
  font-size:2rem;
  text-transform: capitalize;
}
.store-address
{
  color:rgb(196, 195, 206);
}


/*
.panel-body
{
  padding:0px;
}


.filter-form select
{
  border-radius:0px;
}
.filter-form
{
  border-bottom:2px solid #f2f3f6;
  padding-top:10px;
  margin-bottom: 20px;
}


.products {
  display: flex;
  flex-wrap: wrap;
  padding:10px;
}
.product-card {
  padding: 1%;
  flex-grow: 1;
  flex-basis: 25%;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  // display: flex;  //so child elements can use flexbox stuff too!
}
.hidden-product-card
{
  visibility: hidden;
}

.product-card:hover
{
 box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.product-card-img{position:relative;}

.product-card-img img {
  max-width: 100%;
  border:none;
}






.product-info
{
  padding:10px;
  margin-top:auto;
  text-align: left;
}
.product-brand{
  color: #878787;
  font-size: 15px;
  font-weight: 700;}

.product-name
  {
    display: inline-block;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
  }
  // .product-card:hover .product-name{color:#384aeb;font-weight:700;}

@media (max-width: 920px) {
  .product-card {
    flex: 1 50%;
  }
}








.modal-body{
        padding:5px;
      }

 .modal-body .col-12
{
  margin-bottom:10px;
}

.modal-body label
{
  font-size: 14px;
  font-weight:500;
  color: #3d4152;
  text-transform: capitalize;
  display: block;
}

.modal-body input, .modal-body textarea , .modal-body select
{
  border-radius:0px;
  background-color: #f2f3f6;
  color: #000000;
  font-weight:500;
}

.modal-body input[type="text"]::placeholder,
.modal-body input[type="text"]::-moz-placeholder,
.modal-body input[type="text"]::-webkit-input-placeholder
{
  color:#384aeb;
}



.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #f2f3f6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked ~ .checkmark {
  background-color: #e5e5e5;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #2d41f0;
}

.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}



//product image upload
.imageUpload input[type=file]{
  visibility: hidden;
  display: none;
}



.row
{
  margin:0px;
  padding: 0px;;
}


.panel-heading
{
    background-color: #5696ca;
    display:flex;
    justify-content:space-between;
}
.panel-heading .heading
{
  font-size: 16px;
    line-height: 30px;
    font-weight:700;
    color:#ffffff;

}



.panel-body
{
  padding:0px;
} */












.filter-form select
{
  border-radius:0px;
}
.filter-form
{
  border-bottom:2px solid #f2f3f6;
  padding-top:10px;
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  padding: 1%;
  flex-grow: 1;
  flex-basis: 25%;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  // display: flex; /* so child elements can use flexbox stuff too! */
}
.hidden-product-card
{
  visibility: hidden;
}


.product-card-img img {
  max-width: 100%;
  border:none;
}

.product-card a{
  text-decoration: none;
  color:#000000;
 //  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.product-card:hover
{
 box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.product-info
{
  padding:10px;
  margin-top:auto;
}
.product-brand{color: #878787;
  font-size: 15px;
  font-weight: 700;}

.product-name
  {
    display: inline-block;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
  }

@media (max-width: 920px) {
  .product-card {
    flex: 1 50%;
  }
}





.modal-body{
        padding:5px;
      }

 .modal-body .col-12
{
  margin-bottom:10px;
}

.modal-body label
{
  font-size: 14px;
  font-weight:500;
  color: #3d4152;
  text-transform: capitalize;
  display: block;
}

.modal-body input, .modal-body textarea , .modal-body select
{
  border-radius:0px;
  background-color: #f2f3f6;
  color: #000000;
  font-weight:500;
}

.modal-body input[type="text"]::placeholder,
.modal-body input[type="text"]::-moz-placeholder,
.modal-body input[type="text"]::-webkit-input-placeholder
{
  color:#384aeb;
}



.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #f2f3f6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked ~ .checkmark {
  background-color: #e5e5e5;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #2d41f0;
}

.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}



//product image upload
.imageUpload input[type=file]{
  visibility: hidden;
  display: none;
}




.show_product_list{
  height: 70px;
  width: 70px;
  margin-left: 10px;
  border: 1px solid;
  border-radius: 5px;
}
